html, body {
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

body {
  font-family: "Share Tech Mono", Monospace;
  font-weight: bold;
  color: white;
  background-color: black;
}

#root{
  text-align: center; 
}

.game-board {
  padding-top: 10vh;
  padding-bottom: 3vh;
}

.game-info {
  padding-bottom: 5vh;
  font-size: larger;
}

.game-moves{
  display: inline-block;
  text-align: left;
}

.square {
  background: #fff;
  border: 1px solid #000;
  font-size: 5vh;
  font-weight: bold;
  line-height: 5vh;
  height: 5vh;
  padding: 0;
  text-align: center;
  width: 5vh;
  display: inline-block;
  vertical-align: middle;
}

li {
  padding-bottom: 1vh;
  font-size: 2vh;
  max-height: 4vh;
}

li > button {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1vh solid transparent;
  border-radius: 1vh;
  font-size: 2vh;
  max-height: 4vh;
  font-weight: bold;
  
}